/* Ensure body and html have no margin and padding */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: #050816;
  scroll-behavior: smooth;

}





.container-particle {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 1; /* Ensure particles are behind other content */
}

.tagcloud-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure tag cloud is above particles */
}

.tagcloud-item {
  font-family: 'space-mono-regular';
  font-size: 20px;
  color: white; 
  white-space: nowrap; /* Prevent text wrapping */
  transition: color 0.3s;
}

.tagcloud-item:hover {
  color: #ff4500; /* OrangeRed color */
}

.bubblegum-sans {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.4);
  }
}

.bounce-effect span {
  display: inline-block;
}

.bounce-effect span.bouncing {
  animation: bounce 0.5s ease-in-out;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050816; /* Match the background color of your main content */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Highest z-index for rocket animation */
}

.rocket-container {
  position: relative;
  animation: rocket-launch 3s ease-in-out forwards;
}

.flame-container {
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
}

/* Media query for large screens */
@media (max-width: 390px) {
  .flame-container {
    bottom: -70px;
  }
}

/* Media query for large screens */


@keyframes rocket-launch {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-100vh);
  }
}





@keyframes rise {
  0% {
    bottom: -10px;
    opacity: 1;
  }
  100% {
    bottom: 100px;
    opacity: 0;
  }
}


@keyframes smoke {
  0% {
    transform: scale(0.5) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(2) translate(random(-20, 20) * 1px, -150px);
    opacity: 0;
  }
}

.navbar-visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.navbar-blur {
  backdrop-filter: blur(10px);  
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;